@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Шапка */
header {
  grid-area: header;
  margin-top: 92px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: 0 24px 0 24px;
}

/* MENU */
.nav {
  justify-self: start;
  margin-left: 27px;
}

.menu {
  display: flex;
  column-gap: 33px;
  flex-wrap: wrap;
}
.menu__link {
  text-decoration: none;
  list-style-type: circle;
  border-bottom: 1px solid #000;
  transition:
    border-bottom 0.3s,
    list-style-type 0.3s;
}
.menu__link:hover {
  list-style-type: none;
  border-bottom: none;
}

.link {
  text-decoration: none;
  color: #000;
}
.link:hover {
  text-decoration: none;
}

.active {
  text-decoration: none;
  list-style-type: none;
  border-bottom: none;
}
.header__logo {
  width: 148px;
}
.logo_link {
  display: block;
  width: 100%;
  height: 100%;
}

/* ADDRESS */
.header__address {
  display: grid;
  margin-right: 26px;
  color: #000;
  justify-items: start;
  line-height: 1.35;
  font-style: normal;
}

.address__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
/* Main */
.content {
  grid-area: content;
  margin-top: 93px;
  display: grid;
  grid-template-columns: 1fr;
}
.content__cover {
  margin-bottom: 179px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/lotus-flower.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.cover__bottem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 80px;
  position: relative;
  z-index: 2;
  margin-left: 50px;
  margin-right: 50px;
}
.cover__text {
  color: #fff;
  text-align: start;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}
.cover__buttom {
  border: 1px solid currentColor;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 30px;
  background-color: transparent;
}

.title {
  margin: 165px 50px 127px 50px;
  z-index: 2;
  position: relative;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.title__text {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.end {
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: 0px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}

.top_layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Lote */
.lote {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 146px;
}
.lote__title {
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.lote__card {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  list-style-type: none;
  margin-bottom: 30px;
}

.card {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}
.card__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-decoration: none;
}
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 48px 40px;
}
.card__top-layer {
  z-index: 1;
}
.card__item-title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__item-text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.card__more {
  display: block;
  padding-left: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.girl {
  background-image: url(../images/photo.png);
}

.book {
  background-image: url(../images/photo.jpg);
}

.abstraction {
  background-image: url(../images/photo3.png);
}
/* About */
.about {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-areas: 'logo title' '. text';
  gap: 6px 72px;
  padding-top: 35px;
  padding-left: 47px;
  margin-bottom: 178px;
}
.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  grid-area: logo;
  background-color: #000;
  border-radius: 50%;
}
.about__logo-img {
  width: auto;
}
.about__title {
  grid-area: title;
  align-self: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 50px 91px 50px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1.35;
  font-style: normal;
  justify-self: start;
}
.footer__nav {
  justify-self: center;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  column-gap: 32px;
  align-items: center;
}
.menu__item:hover {
  text-decoration: none;
}
.footer__social {
  display: flex;
  justify-self: end;
  column-gap: 47px;
  list-style-type: none;
}
.footer__link {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/socials.svg);
}
.yt {
  background-position: 0px 0px;
}
.pn {
  background-position: 48px 0px;
}
.vk {
  background-position: 142px 0px;
}
